body {
  color:black;
  background:rgb(0,87,194);
  margin: 7px;
}

header{
  font-size:80px;
  color: darkblue;
  border-bottom: solid 2px white;
  text-align: CENTER;
  padding: 20px;
  font-family: "Zain", sans-serif;
}

section.entrada{
  font-family: "Oswald", sans-serif; 
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.descricao{
  font-size: 20px;
}

.primeiro{
  margin-right: 20px;
}

.copia{
  text-align: CENTER;
}

img {
  height: 200px;
}

div#videos{
 display: flex;
 overflow-x: auto;
 gap: 10px;
}

.ju{
  text-align:CENTER;
}
